* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background: #f0f2f5;
  color: #333;
}

/* HEADER */
header {
  background: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* СЕКЦИИ */
section {
  background: white;
  margin: 20px auto;
  padding: 30px;
  max-width: 900px;
  border-radius: 10px;
}

/* HERO */
#hero {
  background: linear-gradient(135deg, #1e90ff, #0d6efd);
  color: white;
  text-align: center;
}

.hero-content h2 {
  font-size: 36px;
}

.hero-content p {
  font-size: 18px;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card, .why-card {
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  border-radius: 10px;

}

.card:hover, .why-card:hover {
  transform: translateY(-5px);
}
.about {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.photo {
  width: 150px;
  height: 150px;
  background: #ccc;
  border-radius: 10px;
}

#why {
  text-align: center;
}

.why-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  
  
}

.card {
  background: #e0e0e0;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  min-height: 120px;

  /* твоя анимация остаётся */
  transition: 0.3s;
}
/* КОНТАКТЫ */
#contacts form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
}

/* КНОПКИ */
button {
  padding: 10px;
  background: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0d6efd;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .services,
  .about,
  .why-cards {
    flex-direction: column;
  }

  .hero-content h2 {
    font-size: 24px;
  }

  section {
    margin: 10px;
    padding: 20px;
  }
}